{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block title %}Contact{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h2>Contact Information</h2>

                <h3>Address:</h3>

                <address>
                    <strong>{{ shop.name }}</strong>
                    {% if shop.address_1 %}<br/>{{ shop.address_1 }}{% endif %}
                    {% if shop.address_2 %}<br/>{{ shop.address_2 }}{% endif %}
                    <br/>{{ shop.city }}, {{ shop.state }} {{ shop.zip_code }}
                    <br/><abbr title="Phone">P:</abbr> {{ shop.phone }}
                </address>
                <h3>Map:</h3>
                <iframe src="{{ shop.map_url }}" width="375" height="350" frameborder="0" style="border:0"></iframe>
            </div>
            <div class="col-lg-7">
                <h2>Or send us an email!</h2>

                <form action="" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input class="btn pull-right" type="submit" value="Send Message"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
