{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class="twelve columns">
        <div class="sixteen columns clearfix">
            <div class="six columns alpha">
                <div class="promo-box">
                    <img src="{% static "img/promo/image1.jpg" %}">
                    <div class="promo-box-text">
                        <h4>EVENTS &amp; DEMOS</h4>
                    </div>
                </div>
            </div>
            <div class="six columns omega">
                <div class="promo-box">
                    <img src="{% static "img/promo/image1.jpg" %}">
                    <div class="promo-box-text">
                        <h4>LATEST NEWS</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="sixteen columns clearfix">
            <div class="six columns alpha">
                <div class="promo-box">
                    <img src="{% static "img/promo/image1.jpg" %}">
                    <div class="promo-box-text">
                        <h4>TECHNOLOGY</h4>
                    </div>
                </div>
            </div>
            <div class="six columns omega">
                <div class="promo-box">
                    <img src="{% static "img/promo/image1.jpg" %}">
                    <div class="promo-box-text">
                        <h4>TEAMS &amp; RIDERS</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="four columns">
        <h4>LATEST NEWS</h4>
        <ul class="latest-news">
            <li class="latest-news-item">
                <div class="latest-news-item-title"><a href="#">News Items 1</a></div>
                <div class="latest-news-item-date">May 11, 2014</div>
                <div class="latest-news-item-content">This is some sort of long content that fills the whole width....</div>
            </li>
            <li class="latest-news-item">
                <div class="latest-news-item-title"><a href="#">News Item 2</a></div>
                <div class="latest-news-item-date">April 15, 2014</div>
                <div class="latest-news-item-content">This is some sort of long content....</div>
            </li>
            <li class="latest-news-item">
                <div class="latest-news-item-title"><a href="#">News Item 3</a></div>
                <div class="latest-news-item-date">January 25, 1986</div>
                <div class="latest-news-item-content">This is some sort of long content....</div>
            </li>
        </ul>
        <div class="more-news"><a href="#">More News >></a></div>
    </div>
{% endblock %}
