{% extends 'base.html' %}
{% load static from staticfiles %}
{% load thumbnail %}

{% block title %}Gallery{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row margin-top margin-bottom">
            {% for photo in photos %}
                {% if forloop.counter|divisibleby:5 %}
                </div>
                <div class="row">
                {%  endif %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a class="center-block fancybox" rel="senex-gallery" href="{% thumbnail photo.image 900x900 %}" title="{{ photo.title }}">
                        <img class="img-responsive img-thumbnail center-block" src="{% thumbnail photo.image 300x300 %}" alt="">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block extrajs %}
    <script>
        $(document).ready(function () {
            console.log("this is happening");
            $(".fancybox").fancybox();
        });
    </script>
{% endblock %}