{% extends 'base.html' %}
{% load static from staticfiles %}

{% block body %}
<!-- Jumbotron -->
<div class="jumbotron sixteen columns">
    <img src="{% static "img/carousel/c_1.jpg" %}">
    <h1>Senex Cycles</h1>
    <p class="lead">Senex is custom bicycle company out of the Midwest. Our focus is geometry that is fast and responsive. Senex bicycles are perfect for the tight singletrack often found in the Midwest.</p>
</div>
<div class="one-third column feature">
    <div class="promo-box">
        <h3>New for 2014</h3>
        <p>The bikes are being built. Pre-order yours now and receive a special bonus!</p>
        <p><a class="btn bottom" href="#">View details &raquo;</a></p>
    </div>
</div>
<div class="one-third column feature">
    <div class="promo-box">
        <h3>Introducing a New Series</h3>
        <p>Features</p>
        <ul class="square">
            <li>Feature One</li>
            <li>Feature Two</li>
            <li>Feature Three</li>
        </ul>
        <p><a class="btn bottom" href="#">View details &raquo;</a></p>
    </div>
</div>
<div class="one-third column feature">
    <div class="promo-box">
        <h3>Schwag</h3>
        <p>Get your Schwag for your favorite bicycle company!</p>
        <p><a class="btn bottom" href="#">View details &raquo;</a></p>
    </div>
</div>
{% endblock %}
