Django==1.6.1
Fabric==1.6.0
South==0.8.4
Pillow==2.1.0
django-countries==2.1.2
django-debug-toolbar==1.0.1
django-jenkins==0.14.1
django-localflavor==1.0
easy-thumbnails==1.4
paramiko==1.10.0
pycrypto==2.6
stripe==1.9.8
wsgiref==0.1.2

# Django Custom Auth
git+https://github.com/endthestart/django-custom-auth.git#egg=django-custom-auth

# OS X
# brew install libtiff libjpeg webp littlecms
# pip install Pillow
