{% load i18n %}
{% load currency_filters %}
<div class="col-sm-4 cart-summary">
    <div class="cart-summary-inner">
        <h4 class="rule">Cart Summary</h4>
        <h5>{{ cart.num_items }} Item{{ cart.num_items|pluralize }}</h5>
        <h5 class="rule">Subtotal: {{ cart.subtotal|currency }}</h5>
        <div class="rule">
            <h5>Shipping: {{ cart.calculate_shipping|currency }}</h5>
            {% if cart.discount %}
                <h5>Discount: {{ cart.discount_amount|currency }}</h5>
            {% endif %}
            <h5>Cart total: {{ cart.total_price|currency }}</h5>
        </div>

        {% if cart.discount %}
            <p>{{ cart.discount }}</p>
        {% endif %}
        <form action="" method="post" class="discount-form">
            {% csrf_token %}
            <div class="discount-box">
                <input type="text" name="discount_code" placeholder="Discount Code"/>
                {% if form.discount_code.errors %}
                    {{ form.discount_code.errors }}
                {% endif %}

                <input class="btn btn-default" type="submit" value="Go"/>
            </div>
        </form>
        <a href="{% url 'checkout_start' %}" class="btn btn-primary btn-block" {% if cart.num_items < 1 %}disabled="disabled"{% endif %}>{% trans "Checkout" %}</a>
    </div>
</div>