{% load i18n %}
<ul class="progress-inner">
    <li class="step1 {% if step == 1 %}active{% elif step == 2 %}previous{% elif step > 1 %}visited{% else %}disabled{% endif %}">
        {% if step == 2 or step == 3 or step == 4 %}
            <a href="{% url 'checkout_shipping_address' %}"><span>{% trans "1. Shipping" %}</span></a>
        {% else %}
            <span>{% trans "1. Shipping" %}</span>
        {% endif %}
    </li>
    <li class="step2 {% if step == 2 %}active{% elif step == 3 %}previous
        {% elif step > 2 %}visited{% else %}disabled{% endif %}">
        {% if step == 3 or step == 4 %}
            <a href="{% url 'checkout_payment_details' %}"><span>{% trans "2. Payment" %}</span></a>
        {% else %}
            <span>{% trans "2. Payment Info" %}</span>
        {% endif %}
    </li>
    <li class="step3 {% if step == 3 %}active{% elif step == 4 %}previous{% elif step > 3 %}visited{% else %}disabled{% endif %}">
        {% if step == 4 %}
            <a href="{% url 'checkout_preview' %}"><span>{% trans "3. Review" %}</span></a>
        {% else %}
            <span>{% trans "3. Review Order" %}</span>
        {% endif %}
    </li>
    <li class="step4 {% if step == 4 %}active{% else %}disabled{% endif %}"><span>{% trans "4. Confirmation" %}</span>
    </li>
</ul>
