{% extends 'senex_shop/checkout/checkout.html' %}
{% load i18n %}
{% load currency_filters %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block title %}{% trans "Checkout - Shipping Address" %}{% endblock %}

{% block checkout_progress %}
    {% include 'senex_shop/checkout/progress.html' with step=1 %}
{% endblock %}

{% block page_title %}{% trans "Shipping Address" %}{% endblock %}
{% block shipping_address %}
    {% if request.user.is_authenticated %}
        {% if addresses %}
                <h3>{% trans "An address from your addressbook?" %}</h3>
                {% for address in addresses %}
                    <div class="shipping-address">
                        <span>{{ address.full_name }}</span><br />
                        <span>{{ address.street1 }} {{ address.street2 }}</span><br />
                        <span>{{ address.city_state }} {{ address.postal_code }}</span><br />
                        <span>&nbsp;</span><br />
                        <form action="{% url 'checkout_shipping_address' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="ship_to" />
                            <input type="hidden" name="address_id" value="{{ address.id }}" />
                            <button type="submit" class="btn ship-to-button">
                                {% trans "Ship to this address" %}
                            </button>
                            <br />
{#                            <a href="{% url 'checkout_user_address_update' address.id %}">{% trans "Edit address" %}</a>#}
{#                            <a href="{% url 'checkout_user_address_delete' address.id %}" class="btn btn-small btn-remove-address">{% trans "Delete" %}</a>#}
                        </form>
                    </div>
                {% endfor %}
        {% endif %}
    {% endif %}
    <form action="{% url 'checkout_shipping_address' %}" method="post"
          class="form-horizontal shipping-form {% if request.user.is_authenticated and addresses %}collapse{% endif %}"
          id="new_shipping_address">
        <div>
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' show_help=False %}
            <div class="shipping-form-bottom clearfix">
                <button type="submit" class="btn btn-lg btn-primary pull-right">{% trans "Ship to this address" %}</button>
            </div>
        </div>
    </form>
{% endblock shipping_address %}
{% block billing_address %}
{% endblock billing_address %}
{% block order_contents %}{% endblock order_contents %}
{% block payment_details %}{% endblock payment_details %}
