{% extends "senex_shop/product.html" %}
{% load i18n %}
{% load currency_filters %}
{% load thumbnail %}

{% block content %}
    <form id="product-options-form" action="{% url 'cart_add' %}" method="post">{% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="category-navigation">
                    {% block breadcrumbs %}
                        <a href="{% url 'store_home' %}">Store</a> {% for ancestor in product.category.get_ancestors %}>
                        <a href="{{ ancestor.get_absolute_url }}">{{ ancestor.name }}</a>{% endfor %}
                    {% endblock breadcrumbs %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-8 product-configuration">
                        <img class="img-responsive center-block" src="{% if product.main_image.image %}{% thumbnail product.main_image.image 1000x500 %}{% endif %}"/>
                    <div class="product-photo-gallery">
                        {% for product_image in product.productimage_set.all %}
                            <a href="{% thumbnail product_image.image 800x600 %}">
                                <img src="{% thumbnail product_image.image 60x60 %}"/>
                            </a>
                        {% endfor %}
                    </div>
                    <div>
                        <h2>{{ product.name }}</h2>

                        <p>{{ product.description|safe }}</p>
                    </div>
                    {% if error_message %}
                        <div><p><strong>{{ error_message }}</strong></p></div>
                    {% endif %}
                    {% for option_group in options %}
                        <div class="product-configuration-option">
                            <div class="product-configuration-option-header">
                                <h5 class="product-configuration-option-name">{{ option_group.display }}</h5>

                                <p>{{ option_group.description }}</p>
                            </div>
                            <div class="product-configuration-option-selection">
                                <select name="{{ option_group.id }}" id="{{ option_group.id }}"
                                        class="form-control priced product-configuration-select">
                                    {% for choice in option_group.option_set.all %}
                                        <option data-price="{{ choice.price_change }}" value="{{ choice.value }}"
                                                {% if choice.selected %}selected="selected"{% endif %}>{{ choice.name }}
                                            {% if choice.price_change %}
                                                ({{ choice.price_change|currency }})
                                            {% endif %}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endfor %}
                    <div>
                        <input type="hidden" name="product_name" id="product_name" value="{{ product.slug }}"/>
                        <input type="hidden" size="5" name="quantity" id="quantity" value="1" class="priced"/>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-1 col-md-4 product-configuration-sidebar">
                    <div>
                        <h4>Subtotal:</h4>
                        <h5 class="add-bottom">$<span id="price">{{ product.price }}</span></h5>
                        <input type="submit" class="btn btn-primary btn-lg btn-block" name="addcart" value="Add to Cart"/>
                    </div>
                    <div>
                        <h4>Summary:</h4>
                        <ul class="summary-list">
                            <li>Large</li>
                            <li>Polished</li>
                            <li>Something</li>
                            <li>One More</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{#{% block extrajs %}#}
{#    <script type="text/javascript">#}
{#        var scrollTop = $(window).scrollTop();#}
{#        var elementOffset = $('.scroll').offset().top;#}
{#        var distance = (elementOffset - scrollTop);#}
{#        $(window).on('scroll', function () {#}
{#            var scrollPos = $(document).scrollTop();#}
{#            var newposition = scrollPos - distance + 10#}
{#            if (newposition < 0) {#}
{#                newposition = 0;#}
{#            }#}
{#            $('.scroll').css({#}
{#                top: newposition#}
{#            });#}
{#        }).scroll();#}
{#    </script>#}
{#{% endblock %}#}
