{% extends "senex_shop/product.html" %}
{% load i18n %}
{% load currency_filters %}
{% load thumbnail %}

{% block product_configuration %}
    {% if error_message %}
        <div><p><strong>{{ error_message }}</strong></p></div>
    {% endif %}
    {% for option_group in options %}
        <div class="product-configuration-option">
            <div class="product-configuration-option-header">
                <h5 class="product-configuration-option-name">{{ option_group.display }}</h5>

                <p>{{ option_group.description }}</p>
            </div>
            <div class="product-configuration-option-selection">
                <select name="{{ option_group.id }}" id="{{ option_group.id }}"
                        class="form-control priced product-configuration-select">
                    {% for choice in option_group.option_set.all %}
                        <option data-price="{{ choice.price_change }}" value="{{ choice.value }}"
                                {% if choice.selected %}selected="selected"{% endif %}>{{ choice.name }}
                            {% if choice.price_change %}
                                ({{ choice.price_change|currency }})
                            {% endif %}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    {% endfor %}
    <div>
        <input type="hidden" name="product_name" id="product_name" value="{{ product.slug }}"/>
        <input type="hidden" size="5" name="quantity" id="quantity" value="1" class="priced"/>
    </div>
    </div>
{% endblock product_configuration %}

{% block product_configuration_sidebar %}
    <div class="col-lg-4 col-lg-offset-1 col-md-4 product-configuration-sidebar">
        <div>
            <h4>Subtotal:</h4>
            <h5 class="add-bottom">$<span id="price">{{ product.price }}</span></h5>
            <input type="submit" class="btn btn-primary btn-lg btn-block" name="addcart"
                   value="Add to Cart"/>
        </div>
        <div>
            <h4>Summary:</h4>
            <ul class="summary-list">
                <li>Large</li>
                <li>Polished</li>
                <li>Something</li>
                <li>One More</li>
            </ul>
        </div>
    </div>
{% endblock product_configuration_sidebar %}

