{% extends "base.html" %}
{% load i18n %}
{% load currency_filters %}
{% load thumbnail %}

{% block content %}
    <form id="product-options-form" action="{% url 'cart_add' %}" method="post">{% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="category-navigation">
                    {% block breadcrumbs %}
                        <a href="{% url 'store_home' %}">Home</a> {% for ancestor in product.category.get_ancestors %} >
                        <a href="{{ ancestor.get_absolute_url }}">{{ ancestor.name }}</a>{% endfor %}
                    {% endblock breadcrumbs %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-8 product-configuration">
                    <div class="product-photo-container">
                        <img class="img-responsive center-block product-photo" src="
                                {% if product.main_image.image %}{% thumbnail product.main_image.image 675x450 crop %}{% endif %}"/>
                    </div>
                    <div class="product-photo-gallery">
                        <ul class="list-inline">
                            {% for product_image in product.productimage_set.all %}
                                <li>
                                    <img class="product-image-thumb"
                                         src="{% thumbnail product_image.image 75x50 crop %}"
                                         data-header-img="{% thumbnail product_image.image 675x450 crop %}"/>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div>
                        <h2>{{ product.name }}</h2>

                        <p>{{ product.description|safe }}</p>
                    </div>
                    {% block product_configuration %}
                        {% if error_message %}
                            <div><p><strong>{{ error_message }}</strong></p></div>
                        {% endif %}
                        <div>
                            <input type="hidden" name="product_name" id="product_name" value="{{ product.slug }}"/>
                            <input type="hidden" size="5" name="quantity" id="quantity" value="1" class="priced"/>
                        </div>
                        </div>
                    {% endblock product_configuration %}
                {% block product_configuration_sidebar %}
                    <div class="col-lg-4 col-lg-offset-1 col-md-4 product-configuration-sidebar">
                        <h4>Subtotal:</h4>
                        <h5>$<span id="price">{{ product.price }}</span></h5>
                        <input type="submit" class="btn btn-primary" name="addcart" value="Add to Cart"/>
                    </div>
                {% endblock product_configuration_sidebar %}
            </div>
        </div>
    </form>
{% endblock content %}
{% block extrajs %}
    <script>
        $('.product-image-thumb').click(function () {
            $('img.product-photo').attr('src', $(this).attr('data-header-img'));
        });
    </script>
{% endblock extrajs %}
{#{% block extrajs %}#}
{#    <script type="text/javascript">#}
{#        var scrollTop = $(window).scrollTop();#}
{#        var elementOffset = $('.scroll').offset().top;#}
{#        var distance = (elementOffset - scrollTop);#}
{#        $(window).on('scroll', function () {#}
{#            var scrollPos = $(document).scrollTop();#}
{#            var newposition = scrollPos - distance + 10#}
{#            if (newposition < 0) {#}
{#                newposition = 0;#}
{#            }#}
{#            $('.scroll').css({#}
{#                top: newposition#}
{#            });#}
{#        }).scroll();#}
{#    </script>#}
{#{% endblock %}#}
