{% extends "store/product.html" %}
{% load url from future %}
{% load i18n %}
{% load currency_filters %}
{% load thumbnail %}

{% block content %}
    <div class="category-navigation sixteen columns">
        {% block breadcrumbs %}
            <a href="{% url 'store_home' %}">Home</a> {% for ancestor in product.category.get_ancestors %} >
            <a href="{{ ancestor.get_absolute_url }}">{{ ancestor.name }}</a>{% endfor %}
        {% endblock breadcrumbs %}
    </div>
    <div class="twelve columns">
        <div class="inner" style="border: 1px solid #ccc; padding: 3px;">
            <div>
                <img src="
                        {% if product.main_image.image %}{% thumbnail product.main_image.image 960x200 crop %}{% endif %}"/>
            </div>
            <div>
                <h2>{% blocktrans with product.name as name %}Configure your {{ name }}{% endblocktrans %}</h2>

                <p>{% autoescape off %}{{ product.description }}{% endautoescape %}</p>
            </div>
            {% if error_message %}
                <div><p><strong>{{ error_message }}</strong></p></div>{% endif %}
            <form id="product-options-form" action="{% url 'cart_add' %}" method="post">{% csrf_token %}
                {% for option_group in options %}
{#                    <div class="three columns alpha">#}
{#                        Image#}
{#                    </div>#}
{#                    <div class="nine columns omega">#}
                    <div style="border: 1px solid #bbb; margin-bottom: 10px;">
                        <div style="background: #ddd; padding: 3px;">
                        <h5>{{ option_group.name }}</h5>
                        <p>{{ option_group.description }}</p>
                        </div>
                        <div style="padding: 3px;">
                        <select name="{{ option_group.id }}" id="{{ option_group.id }}" class="priced">
                            {% for choice in option_group.items %}
                                <option value="{{ choice.value }}"
                                        {% if choice.selected %}selected="selected"{% endif %}>{{ choice.name }}
                                    {% if choice.price_change %}
                                        {{ choice.price_change|currency }}
                                    {% endif %}
                                </option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
{#                    <br class="clear"/>#}
                {% endfor %}
                <div style="position: relative; height: 100px;">
                    <input type="hidden" name="product_name" id="product_name" value="{{ product.slug }}"/>
                    <input type="hidden" size="5" name="quantity" id="quantity" value="1" class="priced"/>
                </div>
            </form>
        </div>
    </div>
    <div class="four columns">
        <div style="border: 1px solid #ccc; padding: 5px; margin-bottom: 10px;">
            <h4 style="border-bottom: 1px solid #000;">Summary:</h4>
            <h5><span id="price">{{ product.price|currency }}</span></h5>
            <button class="button addcart" name="addcart">Add to Cart</button>
        </div>
        <div style="border: 1px solid #ccc; padding: 5px; margin-bottom: 10px;">
            <h4 style="border-bottom: 1px solid #000;">Specifications:</h4>
            <ul>
                <li>Large</li>
                <li>Polished</li>
                <li>Something</li>
                <li>One More</li>
            </ul>
        </div>
    </div>
{% endblock %}
