{% extends "store/product.html" %}
{% load url from future %}
{% load i18n %}
{% load currency_filters %}

{% block content %}
<h4>{% blocktrans with product.name as name %}Custom order for {{ name }}{% endblocktrans %}</h4>
<p>{% autoescape off %}{{ product.description }}{% endautoescape %}</p>
{% trans "Price" %}:<h3><span id="price">{{ product.price|currency }}</span></h3>

<p class="productattributes">
{{ product.description }}: {{ product.value }}<br/>
</p>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form id="options" action="{% url 'cart_add' %}" method="post">{% csrf_token %}

{% for option_group in options %}
 {{ option_group.name}}
    <select name="{{ option_group.id }}" id="{{option_group.id}}" class="priced">
    {% for choice in option_group.items %}
     <option value="{{ choice.value }}" {% if choice.selected %}selected="selected"{% endif %}>{{ choice.name }}
        {% if choice.price_change %}
            {{ choice.price_change|currency }}
        {% endif %}
     </option>
    {% endfor %}
      </select><br/>
{% endfor %}

{% trans "Quantity" %} <input type="text" size="5" name="quantity" id="quantity" value="1" class="priced" />
<input type="hidden" name="product_name" id="product_name" value="{{product.slug}}" />
<input type="submit" name="addcart" value="Add to Cart" />
</form>
{% endblock %}
