{% extends 'checkout/checkout.html' %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}{% trans "Checkout - Payment Details" %}{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=1 %}
{% endblock %}

{% block content %}
    <div class="six columns offset-by-five">
    Show order summary
    Show shipping information
    Show card information
{% block place_order %}
    <div class="sub-header">
        <h2>{% trans "Confirm Order" %}</h2>
    </div>
    <form action="" method="POST" id="payment-form">{% csrf_token %}
                <input type="hidden" name="stripeToken" value="{{ stripe_token }}" />
                <input type="hidden" name="action" value="place_order" />
        <button type="submit">Place Order</button>
    </form>
{% endblock place_order %}
    </div>
{% endblock %}

