{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load currency_filters %}
{% load thumbnail %}

{% block title %}{% trans "Password Reset Successfuly" %}{% endblock %}

{% block content %}
    <div class="six columns offset-by-five">
        <div style="margin-top: 40px;">
            <div class="login-form">
                <h4 class="bright-text">{% trans 'Password reset successful' %}</h4>
                <div class="">
                    <div class="">
                        <p class="">{% trans "We've emailed you instructions for setting your password. You should be receiving them shortly." %}</p>
                        <p class="">{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
