{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load currency_filters %}
{% load thumbnail %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="six columns offset-by-five">
        <div style="margin-top: 40px;">
            <div class="login-form">
                <form action="" method="post">{% csrf_token %}
                    <h4 class="bright-text">{% trans "Login" %}</h4>
                    {% if form.non_field_errors %}
                        {{ form.non_field_errors }}
                    {% endif %}
                    {% for field in form %}
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    {% endfor %}
                    <input type="hidden" name="next" value="{% url 'store_home' %}"/>
                    <input type="submit" name="Submit" value="Submit"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
