{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}{% trans "Password Reset Successfuly" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 margin-top margin-bottom">
            <div class="login-form">
                <h4 class="bright-text text-center margin-bottom">{% trans 'Password reset successful' %}</h4>
                <div>
                    <p class="">{% trans "We've emailed you instructions for setting your password. You should be receiving them shortly." %}</p>
                    <p class="">{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
