{% load static from staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{% block title %}Senex Cycles{% endblock title %}</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="{% static "css/base.css" %}">
	<link rel="stylesheet" href="{% static "css/skeleton.css" %}">
	<link rel="stylesheet" href="{% static "css/layout.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
	<link rel="apple-touch-icon" href="{% static "img/apple-touch-icon.png" %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static "img/apple-touch-icon-72x72.png" %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static "img/apple-touch-icon-114x114.png" %}">
</head>
<body>
	<!-- Primary Page Layout
	================================================== -->
    <div class="top">
        <div class="container">
            <div class="sixteen columns"><a href="/" class="brand"><img src="{% static "img/header-logo.png" %}"/></a></div>
        </div>
            <div class="nav">
                    <div class="container nav-inner">
                        <ul>
                            <li><a href="{% url 'mountain' %}">Mountain</a></li>
                            <li><a href="{% url 'road' %}">Road</a></li>
                            <li><a href="#custom">Custom</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </div>
            </div>
    </div>
    <div class="container content">
        {% block body %}This page doesn't have any content.{% endblock body %}
    </div>
    <div class="container footer">
        <div class="three columns">
            About Senex
            <br/>Hours + Location
            <br/>Bicycle Shop
            <br/>Privacy Policy
            <br/>Site Map
        </div>
        <div class="three columns">
            Hours
            <br />MON-FRI 8am-6pm
            <br/>SAT 9am-5pm
            <br/>SUN Closed
            <br/>Phone
            <br/>920.215.1137
        </div>
        <div class="three columns">
            Address
            <br/>945 S. Nicolet Rd.
            <br/>Appleton, WI 54914
            <br/>Email
            <br/>info@senexcycles.com
            <br />&copy; Senex Bicycle Corporation
        </div>
    </div>

    <!-- End Document
================================================== -->
</body>
</html>
