{% extends 'base.html' %}
{% load static from staticfiles %}

{% block body %}
<!-- Jumbotron -->
<div class="jumbotron sixteen columns">
    <img src="{% static "img/carousel/c_1.jpg" %}">
    <h1>Senex Cycles!</h1>
    <p class="lead">Senex is a startup bicycle company from the Midwest. Our focus is fast, responsive geometry bikes that are perfect for tight singletrack.</p>
</div>
<div class="one-third column feature">
    <h3>New for 2013</h3>
    <p>Some marketing stuff.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
</div>
<div class="one-third column feature">
    <h3>Introducing a New Series</h3>
    <p>Features</p>
    <ul class="square">
        <li>Feature One</li>
        <li>Feature Two</li>
        <li>Feature Three</li>
    </ul>
    <p><a class="btn" href="#">View details &raquo;</a></p>
</div>
<div class="one-third column feature">
    <h3>Schwag</h3>
    <p>Get your Schwag for your favorite bicycle company!</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
</div>
{% endblock %}
