/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-top {
    margin-top: 20px;
}

.margin-bottom {
    margin-bottom: 20px;
}

/* #Links
================================================== */
/*a, a:visited {*/
    /*color: #333;*/
    /*text-decoration: underline;*/
    /*outline: 0;*/
/*}*/

/*a:hover, a:focus {*/
    /*color: #000;*/
/*}*/

/*p a, p a:visited {*/
    /*line-height: inherit;*/
/*}*/


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar-static-top {
    margin-bottom: 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar .navbar {
    padding-right: 15px;
    padding-left: 15px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
    overflow: hidden;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 500px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }

    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

/* Footer
   ----------------------- */
.footer {
    background: rgb(50, 50, 50);
    min-height: 250px;
    padding: 10px 0 0 0;
    margin: 20px 0 0 0;
}

.footer h4 {
    color: rgb(170, 170, 170);
    padding: 0;
    font-weight: bold;
}

.footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.footer-column {
    border-left: 1px dotted rgb(150, 150, 150);
    padding: 0 0 0 10px;
    color: rgb(255, 255, 255);
}

/* Category
   ----------------------- */

h1.category-title {
    font-family: 'FuturaExtraBlack', "Arial Black";
    font-size: 50px;
    line-height: 50px;
    padding: 0 0 15px;
    text-align: left;
}

ul.child-category-list li {
    width: 230px;
    display: inline-block;
}

ul.child-category-list li a {
    text-decoration: none;
}

.category-row {
    margin-bottom: 10px;
}

div.child-category-image {
    padding: 5px;
    text-align: center;
    min-height: 230px;
    width: 100%;
}

.child-category-title {
    text-align: center;
}
.child-category-title a {
    text-decoration: none;
}

.product-row {
    margin-bottom: 10px;
}

ul.category-product-list li {
    width: 230px;
    display: inline-block;
    border: 1px solid #000;
    margin-bottom: 6px;
}

ul.category-product-list li a {
    text-decoration: none;
}

div.category-product-image {
    padding-top: 5px;
    text-align: center;
    min-height: 220px;
    width: 100%;
}

.category-product-title {
    text-align: center;
}

.category-product-price {
    text-align: center;
}

/* Products
   ----------------------- */
.scroll {
    position:relative;
    top:0;
    left:0;
}
.product-configuration {
    border: 1px solid #ccc;
    padding: 3px;
}
.product-configuration-sidebar {
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
}
.product-configuration-sidebar h4 {
    border-bottom: 1px solid #000;
}
.product-configuration-header {
    border-bottom: 1px solid #000;
}
.product-configuration-option {
    border: 1px solid #bbb;
    margin-bottom: 10px;
}
.product-configuration-option-header {
    background: #ddd;
    padding: 3px;
}
.product-configuration-option-selection {
    padding: 3px;
}

.product-photo-container {
    margin: 0;
}

.product-photo-gallery {
    padding: 5px;
}

/* Cart
   ----------------------- */

.cart-image {
    display: inline-block;
    width: 150px;
    text-align: center;
    vertical-align: text-bottom;
    min-height: 150px;
    overflow: hidden;
    position: relative;
    padding-top: 15px;
}
.cart-item-box {
    border: 1px solid #ccc;
    position: relative;
    padding: 5px 5px 20px 5px;
    margin-bottom: 10px;
}
.cart-item-description {
    display: inline-block;
}
.cart-item-description a {
    text-decoration: none;
}
.cart-item-price {
    display: inline-block;
}
.cart-item-line-price {
    display: inline-block;
}
.cart-product-description ul {
    padding: 0;
}
.cart-summary .rule {
    border-bottom: 1px solid #485155;
}
.cart-summary-inner {
    padding: 10px;
    border: 1px solid #ccc;
}
.cart-summary h1,
.cart-summary h2,
.cart-summary h3,
.cart-summary h4,
.cart-summary h5 {
    margin-top: 0;
}
.summary-list li {
    line-height: 1em;
    padding: 10px 0 0 0;
}
.discount-form {
    margin-top: 10px;
    margin-bottom: 10px;
}
.discount-box {
    position: relative;
}

.discount-box .button-discount {
    width: 50px;
    height: 29px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: -2px;
    font-size: 1.2em;
}

/* Checkout Progress
   ----------------------- */
.progress-inner {
    display: block;
    padding: 5px 0 0 0;
    margin: 0;
    border-bottom: 3px solid rgb(210, 210, 210);
    font-family: "Georgia", "Times New Roman", serif;
}

.progress-inner {
    text-align: center;
}

ul.progress-inner {
    margin: 0;
}

ul.progress-inner li {
    text-align: center;
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 20px;
    height: 100%;
    line-height: 30px;
    width: 200px;
}

ul.progress-inner li.active {
    font-weight: bold;
}

ul.progress-inner li a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    width: 100%;
}

ul.progress li a:hover {
    text-decoration: none;
    background: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
}

/* News
================================================== */
.post {
    padding: 10px 0 10px 0;
    background: #fff;
}
.post-title {
    padding: 0 0 10px 10px;
    font-size: 2em;
}
.post-metadata {
    font-size: .9em;
    padding: 0 0 5px 15px;
}
.post-body {
    min-height: 100px;
    padding: 15px 0 0 15px;
}
.news-categories h4 {
    font-size: 2em;
    font-weight: bold;
    padding: 10px 0;
    color: rgb(100, 100, 100);
}
.news-category {
    font-size: 1.4em;
    font-weight: bold;
    padding: 0 0 10px 0;
}
.news-category-post ul {
    padding-left: 3px;
}


/* Login Form
================================================== */

.login-form {
    background: #222c30;
    padding: 20px;
}

.login-form label {
    color: #fff;
}

.login-form a {
    color: rgb(255, 255, 255);
}

.register-form {
    background: #222c30;
    padding: 20px;
}

.register-form label {
    color: #fff;
    padding: 20px;
}

.register-form a {
    color: rgb(255, 255, 255);
}

.bright-text {
    color: #fff;
    line-height: 38px;
    font-size: 35px;
}

/* Alerts
===================== */

.alert {
    padding: 5px 5px 5px 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

/* Gallery
==================== */

.thumb {
    margin-bottom: 30px;
}