/* Style Resets
   -------------------------------------------------- */

body {
    padding: 0;
    margin: 0;
    background: rgb(220, 220, 220);
}

img { max-width: 100%; }
/* #3F3836 #A89794 #D2CBD3 #EEE4E5 #D9AE9C */

/* Header
   -------------------------------------------------- */

.top {
    background: rgb(230, 230, 230);
    padding: 0;
    margin: 0;
    width: 100%;
}

/* Navigation
   -------------------------------------------------- */

.nav {
    display: block;
    padding: 0;
    margin: 0;
    border-bottom: 3px solid rgb(210, 210, 210);
    border-top: 3px solid rgb(210, 210, 210);
    font-family: "Georgia", "Times New Roman", serif;
}

.nav-inner {
    text-align: center;
}

.nav-inner ul {
    margin: 0;
}

.nav ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 24px;
    height: 100%;
    line-height: 36px;
    width: 150px;
}

.nav ul li a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
}

.nav ul li a:hover {
    text-decoration: none;
    background: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
}

.top .brand {
    display: block;
    float: left;
    padding: 5px 0;
    font-size: 40px;
    color: #fff;
}

.top .brand:hover,
.top .brand:focus {
    text-decoration: none;
    color: #fff;
}



/* Content
   -------------------------------------------------- */
.content {
    min-height: 600px;
    padding: 10px 0 10px 0;
    margin: 15px auto;
    background: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, .5);
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, .5);
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 0;
    text-align: center;
}
figure {
    padding: 6px;
    border: 1px solid #ededed;
    background: #ffffff;
    line-height: 0px;
    margin: 6px;
}

.jumbotron img {
    width: 100%;
    max-width: 100%;
    display: block;
}
.jumbotron h1 {
    font-size: 100px;
    line-height: 1;
}
.jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

.promo-box {
    height: 300px;
    position:relative;
    background: #f1f6f0;
    padding: 5px;
}

.promo-box .btn {
    float: right;
    position: absolute;
    bottom: 10px;
    right: 10px;

}

/* Footer
   ----------------------- */
.footer {
    font-size: 12px;
    color: #000;
    padding: 0;
    margin: 30px auto 0 auto;;
    height: 150px;
}

/* Buttons
   ---------------------- */
a.btn {
    padding: 10px 15px;
    background: #4479BA;
    color: #FFF;
}

a.btn {
    text-decoration: none;
}

a.btn:hover {
    text-decoration: none;
    background: #3469AA;
}


/* Products
   ----------------------- */
.product-row {
    height: 110px;
    background-color: #ccc;
    margin-bottom: 10px;
}

.product-image {
    padding: 5px;
}

/* Categories
   ----------------------- */
.category-row {
    height: 110px;
    background-color: #ccc;
    margin-bottom: 10px;
}

h1.category-title {
    font-family: 'FuturaExtraBlack', "Arial Black";
    font-size: 60px;
    line-height: 60px;
    padding: 20px 0 15px;
    text-align: left;
}

.category-image {
    padding: 5px;
}


/* Cart
   ----------------------- */

.cart-image {
    display: inline-block;
}
.cart-item-description {
    display: inline-block;
}
.cart-item-price {
    display: inline-block;
}
.cart-item-line-price {
    display: inline-block;
}
.cart-summary {
}
.inline-form {
    display: inline-block;
}
.button-checkout {
	display: block;
	font-size: 25px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.button-checkout:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
}.button-checkout:active {
	position:relative;
	top:1px;
