{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
        <h2>NEWS</h2>
            {% if post_list %}
                {% for post in post_list %}
                    <div class="post">
                        <div class="post-title">{{ post.title }}</div>
                        <div class="post-metadata">{{ post.publish|date }}</div>
                        {% if post.photo %}<div class="post-photo"><img class="img-responsive" src="{{ post.photo.url }}"/></div>{% endif %}
                        <div class="post-body">{{ post.body }}</div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="news-categories">
                <h2>CATEGORIES</h2>
                {% for category in categories %}
                    <div class="news-category">{{ category }}</div>
                    <div class="news-category-post">
                    <ul class="list-unstyled">
                        {% for post in category.posts.all %}
                            <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="container">
{% if is_paginated %}
    <p class="pagination">
        {% if has_next %}
            <a class="older" href="?page={{ next }}" title="View older posts">Older</a>
        {% endif %}
        {% if has_next and has_previous %} | {% endif %}
        {% if has_previous %}
            <a class="newer" href="?page={{ previous }}" title="View newer posts">Newer</a>
        {% endif %}
    </p>
{% endif %}
</div>
{% endblock %}
