{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="post">
                <div class="post-title">{{ post.title }}</div>
                <div class="post-metadata">{{ post.publish|date }}</div>
                {% if post.photo %}<div class="post-photo"><img class="img-responsive" src="{{ post.photo.url }}"/></div>{% endif %}
                <div class="post-body">{{ post.body }}</div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="news-categories">
                <h4>CATEGORIES</h4>
                {% for category in categories %}
                    <div class="news-category">{{ category }}</div>
                    <div class="news-category-post">
                    <ul class="list-unstyled">
                        {% for post in category.posts.all %}
                            <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
